<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="background-color: white;">
  <img src="assets/Logoduoc.png" alt="Logo de la aplicación">
  <div class="container">
    <ion-item class="custom-input">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button class="custom-button" expand="full" color="primary">Iniciar Sesión</ion-button>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <p style="color: white;">¿Olvidaste tu contraseña?</p>
    <p style="color: blue; margin-top: 50px;"><a href="/registrar">Registrarse</a></p>
  </div>
</ion-content>
