.container {
    text-align: center;
    margin-top: 50px; /* Ajusta el valor según tu preferencia para mover los inputs más abajo */
  }
  
  .custom-input ion-input {
    color: white;
  }

  .custom-button {
    margin-top: 20px; /* Ajusta el valor según tu preferencia para agregar un margen al botón */
  }


  