.custom-input ion-input {
    color: white;
  }

  .custom-checkbox ion-label {
    color: white;
    margin-left: 5px;
  }

  .custom-checkbox{
    margin-top: 10px;
  }

  .custom-button{
    margin-top: 20px;
  }
 