<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de..</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h2>Acerca de la Aplicación</h2>
    <h3>Introducción a la Validación de Asistencia</h3>
    <p>Importancia de la validación de asistencia en el ámbito educativo: La validación de asistencia es crucial para garantizar que los alumnos estén presentes y participen en las clases. Esto es esencial para el seguimiento del progreso académico y la toma de decisiones basadas en datos.
      Beneficios de utilizar códigos QR en la validación de asistencia: Los códigos QR ofrecen una forma eficiente y precisa de rastrear la asistencia. Son rápidos de escanear, difíciles de falsificar y pueden contener información valiosa sobre la clase y el estudiante.</p>
      <img src="assets/librodeassitencia.jpeg" alt="">
    
    <h3>Fundamentos de los Códigos QRs</h3>
    <h4>Qué son los códigos QR y cómo funcionan:</h4>
    <p> Los códigos QR son códigos de barras bidimensionales que almacenan información en una matriz de puntos. Pueden contener texto, enlaces, números y más. Se escanean con cámaras de dispositivos móviles y se descifran para acceder a la información.</p>
    
    <img src="assets/CodigoQR.jpg" alt="Imagen 1">

    <h4>Uso de códigos QR en aplicaciones móviles:</h4>
    <p> Los códigos QR se utilizan en una variedad de aplicaciones móviles, desde marketing hasta logística y validación de asistencia. Su popularidad se debe a su facilidad de uso y versatilidad.</p>
    


    <h3>Generación de Códigos QR Temporales de Clase</h3>
    <h4>Implementación de la funcionalidad para generar códigos QR únicos para cada clase: </h4>
    <p>crear códigos QR dinámicos que contengan información específica de la clase, como la fecha, la hora y el código de la clase.</p>
    
    <p>Para obtener más información, no dudes en contactarnos.</p>
</ion-content>
