

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <img src="assets/Logoduoc.png" alt="Logo" class="logo" >
    <div class="options">
      <div class="option">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        <p>Docente</p>
      </div>
      <div class="option">
        <ion-icon name="people-circle-outline" class="icon"></ion-icon>
        <p>Alumno</p>
      </div>
    </div>
    <ion-button class="custom-button" expand="full" color="primary" (click)="continuar()">Continuar</ion-button>
  </div>

  <div style="text-align: center; margin-top: 30px;">
    <p style="color: blue; margin-top: 10px; text-align: right;"><a href="/acerca">Acerca de</a></p>
  </div>
</ion-content>

